<!DOCTYPE html>
<html lang="en">
<head>
  <title>Design Website</title>
  <meta charset="utf-8">
  <!-- add tag for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        @media screen and (max-width: 1060px) {

        }
        
        .container1{
                padding: 10px; 
                display:block;
                width:60%;
        }
        .t1{
            text-align: left;
            font-size: medium;
            padding: 30px;
        }
        .t2{
            text-align: center;
            font-size: xx-large;
            padding: 30px;
        }
        .t3{
            text-align: left;
            font-size: large;
            padding: 30px;
        }
        .container2{
                padding: 10px; 
                display:flex;
                width:40%;
        }
        .super{
                padding: 10px; 
                display:flex;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Design Agency Home Page</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Sevices</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>
<div class="super">
    <div class="container1">
        <div class="t1"> WE ARE A FULL SERVICE</div>
        <div class="t2"><h3><b>DESIGN AGENCY</b></h3></div>
      <div class="t3"><p>It is a long established fact that the readedr will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it is normal.</p></div>
    </div>
    <div class="container2">
        <img class="img-fluid" src="https://www.shynee.com/wp-content/uploads/2018/09/1518435435_b66429fb520890eedbc0578a40d6b6c0.jpg.webp" alt="Chania" style="max-width:100%;height:auto">
    </div>
</div>
<!-- FECTCHING THE DATA FROM DATABASE
  <% records.forEach(function(row){ %>
  <p><%= row.name %></p>
    <p><%= row.email %></p>
    <p><%= row.age %></p>
    <p><%= row.dob%></p>
    <p><%= row.phone %></p>
  <% })}else{ %>
    <p>
        No Record Found
    </p>
    <% } %> -->
</body>
</html>
